{% extends "base.html" %} 


{% block title %} 
    {{room.name}} 
{% endblock title %}

{% block content %}
<div class ="container rounded-xl mx-auto bg-gray-800 w-full h-50vh my-32 mb-24 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1531572753322-ad063cecc140?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80)">
    
</div> 

<div>
    <h1>{{room.name}}</h1>
    <h3>{{room.description}}<h3>
</div>

<div>
    <h2>By : {{room.host.username}}
    {% if room.host.superhost %}
        (superhost)
    {% endif %}
    </h2>
    <h3>Amenities</h3>
    <ul>
        {% for a in room.amenities.all %}
            <li>{{a}}</li>
        {% endfor %}
    </ul>

    <h3>Facilities</h3>
    <ul>
        {% for f in room.facilities.all %}
            <li>{{f}}</li>
        {% endfor %}
    </ul>

    <h3>House Rules</h3>
    <ul>
        {% for r in room.houseRules.all %}
            <li>{{r}}</li>
        {% endfor %}
    </ul>

</div>



 
{% endblock %}}
