{% extends "base.html" %} 

{% block title %} 
Search 
{% endblock title %}


{% block search-bar %}

{% endblock search-bar %}}


{% block content %} 


   <form method="get" action="{% url 'rooms:search' %}">
    Search
    {{forms}}
        <button>Search</button>
    </form>

     <h3>Results</h3>
        {% for room in rooms%}
        <h5>{{room.name}}</h5>
        {% endfor %}


    <h5>
        <h2>{{page_obj}}</h2>
        {% if rooms.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a> 
        {% endif %}

        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a> 
        {% endif %}   
    </h5>
    
{% endblock content %}}
